<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout | desing studio</title>

    <link href="css/styles.css" rel="stylesheet" type="text/css">

    <!--fontes fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Biryani:wght@200;300;400;600;700;800;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
<body>
    <section class="top-header">
        <header>
            <div class="container">
                <div class="logo">
                    <h1>silika</h1>
                    <a href="#" class="secondary-color">We’re Hiring</a>
                </div>
                <!--fim: logo-->
                <nav>
                    <ul>
                        <li><a href="#">user cases</a></li>
                        <li><a href="#">resorces</a></li>
                        <li><a href="#">weekly demos</a></li>
                        <li><a href="#">pricing</a></li>
                    </ul>
                </nav>
                <!--fim:menu-->

                <div class="login">
                    <a href="#">login</a>
                    <a href="#" class="primary-color">get started</a>
                </div>

            </div>
        </header>

        <div class="cta">
            <div class="container">
                <h2>solika helps <br>marketing agencies!</h2>
                <p>At nulla tristique facilisis augue. Lectus diam dignissim erat blandit pellentesque egestas nulla a.
                    Nulla consectetur nunc egestas metus pellentesque.</p>
                <div class="bts-cta">
                    <a href="#" class="primary-color">get started</a>
                    <a href="#" class="secondary-color">how it works</a>
                </div>
            </div>
        </div>
    </section>

    <!--section top-header-->

    <section class="brands">
        <div class="container">
            <img src="imagems/adobe.png" alt="adobe">
            <img src="imagems/colab.png" alt="colab">
            <img src="imagems/Holtzman.png" alt="Holtzman">
            <img src="imagems/Mosaic.png" alt="Mosaic">
        </div>
    </section>
    <!--brands-->

    <section class="about-us">
        <h3>about us</h3>
        <div class="container">
            <div class="about-us-description">
                <h4>professional & team choose copy.ai</h4>
                <p>Odio dictum lacus augue nulla sit integer facilisis massa. Nec et tellus eu amet. Faucibus sit sit
                    massa ullamcorper </p>

                <a href="#" class="primary-color">Get Started</a>
            </div>

            <div class="about-us-videos"><iframe width="560" height="315"
                    src="https://www.youtube.com/embed/fX5WCe3d8WU?si=lsQAWQpqlkeZK9gC" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
    </section>

    <!--about us-->

    <section class="our-features">
        <h3>Our Features</h3>
        <div class="container">
            <div class="card">
                <div class="icon-card">
                    <img src="imagems/icones/iconoir_add-folder.png">
                </div>
                <div class="description-card">
                    <h4>Blog Content</h4>
                    <p>Write optimized blog posts in
                        a fraction of the time</p>

                    <a href="#">Try Blog Content</a>
                </div>
            </div>

            <h3>Article</h3>
            <div class="container">
                <div class="card">
                    <div class="icon-card">
                        <img src="imagems/icones/iconoir_airplane-helix.png">
                    </div>
                    <div class="description-card">
                        <h4>Blog Content</h4>
                        <p>Write optimized blog posts in
                            a fraction of the time</p>

                        <a href="#">Try Blog Content</a>
                    </div>
                </div>

                <h3>Content Writing</h3>
                <div class="container">
                    <div class="card">
                        <div class="icon-card">
                            <img src="imagems/icones/iconoir_add-database-script.png">
                        </div>
                        <div class="description-card">
                            <h4>Blog Content</h4>
                            <p>Write optimized blog posts in
                                a fraction of the time</p>

                            <a href="#">Try Blog Content</a>

                        </div>
                    </div>
                    <h3>Seo</h3>
                    <div class="container">
                        <div class="card">
                            <div class="icon-card">
                                <img src="imagems/icones/iconoir_align-center.png">
                            </div>
                            <div class="description-card">
                                <h4>Blog Content</h4>
                                <p>Write optimized blog posts in
                                    a fraction of the time</p>

                                <a href="#">Try Blog Content</a>

                            </div>
                        </div>
                        <h3>Design</h3>
                        <div class="container">
                            <div class="card">
                                <div class="icon-card">
                                    <img src="imagems/icones/Group.png">
                                </div>
                                <div class="description-card">
                                    <h4>Blog Content</h4>
                                    <p>Write optimized blog posts in
                                        a fraction of the time</p>

                                    <a href="#">Try Blog Content</a>

                                </div>
                            </div>
                            <h3>Coding</h3>
                            <div class="container">
                                <div class="card">
                                    <div class="icon-card">
                                        <img src="imagems/icones/iconoir_rocket.png">
                                    </div>
                                    <div class="description-card">
                                        <h4>Blog Content</h4>
                                        <p>Write optimized blog posts in
                                            a fraction of the time</p>

                                        <a href="#">Try Blog Content</a>

                                    </div>
                                </div>

                                <!--fim:card-->

    </section>

    <section class="testimonials">
        <h3>Let’s See What Our Clients Says</h3>
        <div class="container">
            <div class="testimonials-card">
                <div class="perfil">

                    <div photo-perfil>
                        <img src="imagems/Ellipse 9.png" alt="perfil">
                    </div>

                    <div class="perfil-name">
                        <h4>Brooklyn Simmons</h4>
                        <p class="crago">Nursing Assistant</p>
                    </div>

                    <!--fim:perfil-->

                    <div class="comments">
                        <p>Odio dictum lacus augue nulla sit integer facilisis massa. Nec et tellus eu amet. Faucibus
                            sit sit massa ullamcorper</p>
                    </div>

                </div>
            </div>
        </div>

        <h3>Let’s See What Our Clients Says</h3>
        <div class="container">
            <div class="testimonials-card">
                <div class="perfil">

                    <div photo-perfil>
                        <img src="imagems/Ellipse 9.png" alt="perfil">
                    </div>

                    <div class="perfil-name">
                        <h4>Brooklyn Simmons</h4>
                        <p class="crago">Nursing Assistant</p>
                    </div>

                    <!--fim:perfil-->

                    <div class="comments">
                        <p>Odio dictum lacus augue nulla sit integer facilisis massa. Nec et tellus eu amet. Faucibus
                            sit sit massa ullamcorper</p>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="works">
        <h3>How it works</h3>
        <div class="container">
            <div class="imagens-work">
                <img src="imagems/151.png" alt="work">
            </div>

            <div class="description-work">
                <h4><span>1</span>Enter your copywrite project</h4>
                <div class="content-description-work">
                    <p class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra est purus eu
                        tempor tincidunt commodo</p>
                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <li>Quam duis viverra amet, ultrices risus quis integer nec nulla.</li>
                        <li>Tortor turpis nibh viverra nunc bibendum.</li>
                    </ul>
                </div>
            </div>
            <div class="container">
                <div class="imagens-work">
                    <img src="imagems/15.png" alt="work">
                </div>

                <div class="description-work">
                    <h4><span>2</span>Genarate Idea</h4>
                    <div class="content-description-work">
                        <p class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra est purus eu
                            tempor tincidunt commodo</p>
                        <ul>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li>Quam duis viverra amet, ultrices risus quis integer nec nulla.</li>
                            <li>Tortor turpis nibh viverra nunc bibendum.</li>
                        </ul>
                    </div>
                </div>
                <div class="container">
                    <div class="imagens-work">
                        <img src="imagems/152.png" alt="work">
                    </div>

                    <div class="description-work">
                        <h4><span>3</span>Copy & Use</h4>
                        <div class="content-description-work">
                            <p class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra est purus
                                eu
                                tempor tincidunt commodo</p>
                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                <li>Quam duis viverra amet, ultrices risus quis integer nec nulla.</li>
                                <li>Tortor turpis nibh viverra nunc bibendum.</li>
                            </ul>
                        </div>
                    </div>

    </section>

    <section class="ready">
        <h3>Ready to level-up?</h3>
        <div class="container">
            <p>Id ipsum amet nibh dolor mi ac diam pellentesque</p>
            <a href="#" class="green">Get Started - It’s Free</a>

            <form>
                <fieldset>
                    <div class="option">
                        <input type="radio" name="plans" value="30-credit">
                        <span>No Credit Card Required</span>
                    </div>
                </fieldset>
            </form>

            <form>
                <fieldset>
                    <div class="option">
                        <input type="radio" name="plans" value="30-credit">
                        <span>30 credits on sign up</span>
                    </div>
                </fieldset>
            </form>

            <form>
                <fieldset>
                    <div class="option">
                        <input type="radio" name="plans" value="30-credit">
                        <span>90+ contents type to explore</span>
                    </div>
                </fieldset>
            </form>
        </div>
    </section>

    <footer>
        <div class="container">
            <div footer-group-links>
            <h5>Product</h5>
            <ul>
                <li><a href="#">login</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Copy ai Reviews</a></li>
                <li><a href="#">Alternatives</a></li>
                <li><a href="#">25+ Languages</a></li>
                <li><a href="#">Free Ai Tools</a></li>
            </ul>
            </div>
        </div>
            <div footer-group-links>
            <h5>Company</h5>
            <ul>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Community</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Linkedin</a></li>
                <li><a href="#">Affiliate Program</a>s</li>
            </ul>
            </div>
        </div>
            <div footer-group-links>
            <h5>Support</h5>
            <ul>
                <li><a href="#">Weekly Deos</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Report a Bug</a></li>
                <li><a href="#">Report an Outage</a></li>
                <li><a href="#">Request a New Feature</a></li>
            </ul>
            </div>
        </div>
            <div footer-group-links>
            <h5>User Cases</h5>
            <ul>
                <li><a href="#">For Blog Writers</a></li>
                <li><a href="#">For Social Media</a></li>
                <li><a href="#">Managers</a></li>
                <li><a href="#">Report</a></li>
            </ul>
            </div>
        </div>

        <div class="container">
            <div class="footer-temas">
                <h3>Silika.ai</h3>
                <p>© 2025 copy ai, Inc</p>
                <p>Privacy Notice</p>
                <p>Terms of service</p>
            </div>
            <a href="#"><img src="imagems/icones/facebook.svg" alt="facebbok"></a>
            <a href="#"><img src="imagems/icones/instagram.svg" alt="instagram"></a>
            <a href="#"><img src="imagems/icones/twitter.svg" alt="twitter"></a>

        </div>
    </footer>

</body>

</html>